h1 {
  padding: 20px;
  font-family: $headers-font;
  color: $picotee-blue;
}
.article-banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.article_img {
  img {
    width:90%;
    height: 200px;
    object-fit: cover;
  }
}
.content-container {
	margin: 250px;
	margin-top: 100px;
}

.art_author {
	font-size: 1em;
  text-align: center;
  font-weight: bold;
}
.art_title {
   text-align: center;
   font-size: 1.4em;
   font-weight: bold;
   font-size: 2.5em;
  letter-spacing: -0.017em;
  font-weight: 900;
}

.display_article{
display:block !important;
}

.paragraph{
  margin-top: 30px;
}

.article_img{
  position:relative;
}
.paragraph {
  color: #6A6A6A;
}

.article-picture {
  object-fit: contain;
  width: 100%;
  border-radius: 4px;
}

.article-paragraph {
  font-family: $article-content;
  letter-spacing: 0.049;
  font-size: 20px;
  color: $gray-800;
  line-height: 40px;
  font-weight: 400;
}

.article-back-button {
  font-size: 14px;
  font-weight: 400;
}
