

.item_bench{
  color: black;
  background-color: white;
  height: 10px;
  width: 100px;
  margin: 20px;
  padding:20px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.container{
display:flex;
align-items: center;
justify-content: space-between;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
