.img_company_logo {
  width: 36px;
  height: auto;
}

.item_bench{
  color: black;
  background-color: white;
  height: 10px;
  width: 100px;
  margin: 20px;
  padding:20px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.table-benchmark {
  height: 100vh;
}

.benchmark-table {
  height: 70vh;
}


#bookmark .btn {
    padding:0.25rem 0.5rem;
    font-size: 14px;
}

#bookmark .fa-plus-circle {
    color: white; 
}

#share_button {
  display: inline-block;
  font-family: 'Lato', "sans-serif";
  font-size: 14px;
  border-radius: $border-radius;
  .fa-copy {
    color: $primary;
  }
  &:hover {
    i {
      color:white !important;
    }
    color: white !important;
  }
}

#user-company {
  background-color: $celeste;
  color:$picotee_blue;
  border-radius: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

#user-company-title {
  padding: 0;
}
