#rating {
  overflow: hidden;
  height: 100vh;
  background: $picotee_blue;
  display: flex;
  align-items: center;
  color: white;
  width: 40%;
  padding: initial;
}

.info-container {
  display: flex;
}
