#dashboard-background {
  padding: 20px 20px 20px 270px;
}

th {
  text-align: center;
  font-size: 16px;
}

td {
  width: 200px;
}

.info-container {
  display: flex;
  padding: 0px;
}

.info-container h3 {
  color: $picotee_blue;
  }

.info-container label {
  color: $picotee_blue;
  }

  .info-container h4 {
  color: white;
  }

  .info-container ul {
  padding: 0px;
  }

.fas {
color: $picotee_blue;
}

.favorites-benchmark {
  color: $picotee_blue;
}

#launch-benchmark-dashboard {
  color: white;
  background-color: $picotee_blue;
  border-radius: 10px;
}

#add-process {
  color: white;
  background-color: $picotee_blue;
  border-radius: 10px;
}

a:hover {
 text-decoration: none;
}


.card_benchmark img {
  height: 275px;
  color: white;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: .3em;
  object-fit: cover;
}

.card_benchmark {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    overflow: hidden;
}

.bench_img {
  // background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/52/Free_logo.svg);
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(photo-article.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  height: 100px;
}

.bench-field-title {
  color: white;
  padding: 10px;
  font-family: $headers-font;
  font-weight: bold;

}

.bench-process-title {
  color: white;
  padding: 10px;
  font-family: $headers-font;
}

.bench-card-icons {
  display: flex;
  padding: 10px;
  align-items: flex-end;
}
.bench-card-icons img {
  align-items: flex-end;
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
