#rating {
  overflow: hidden;
  min-height: 100vh;
  background: $picotee_blue;
  display: flex;
  align-items: center;
  color: white;
  width: 250px;
  padding: 160px 10px 10px 10px;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

#dashboard-background {
  padding: 20px 20px 20px 270px;
}

th {
  text-align: center;
  font-size: 16px;
}

td {
  width: 200px;
}

.info-container {
  display: flex;
  padding: 0px;
}

.info-container h3 {
  color: $picotee_blue;
  }

.info-container label {
  color: $picotee_blue;
  }

  .info-container h4 {
  color: white;
  }

  .info-container ul {
  padding: 0px;
  }

.fas {
color: $picotee_blue;
}

.favorites-benchmark {
  color: $picotee_blue;
}

#launch-benchmark-dashboard {
  color: white;
  background-color: $picotee_blue;
  border-radius: 10px;
}

#add-process {
  color: white;
  background-color: $picotee_blue;
  border-radius: 10px;
}

a:hover {
 text-decoration: none;
}
