<div class="navbar logged">
	<%= link_to "#", class: "navbar-brand" do %>
		<%= image_tag "logo_white" %>
	<% end %>
	<div class="navbar-buttons">
		<%= link_to "Log out", destroy_user_session_path, method: :delete %>
	</div>
</div>
