<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path 'banner1.jpg'%>)">
	<%=  image_tag("logo_tagline_white.png", alt: "Edit Entry") %>
</div>

<div class="container">
	
</div>