.card_article {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    overflow: hidden;
}
#first_article {
  margin-right: 100px;
  margin-left: 100px;
  font-size: 1.2em;
}
a.article_link {
    display: block;
    padding: 10px;
}
.card_article img {
  height: 275px;
  color: white;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: .3em;
  object-fit: cover;
}
.card_icons {
  display: flex;
  padding: 10px;
  align-items: flex-end;
}
.card_icons img {
  align-items: flex-end;
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.author{
  text-transform: capitalize;
}

.title, .author {
  color: white;
  padding: 10px;
  font-family: $headers-font;
  // font-weight: bold;
  // font-size: 2em;
}
.author {
  margin-top: 0;
  font-size: 0.8em; // Camille
  color: white; // Camille
// color: $picotee-blue; // Lucille
  font-weight: 100; // Camille
}
.card-content {
  height: 150px; // Lucille
}

.articles:hover {
  border: 1px blue solid;
}

.articles {
  border: 1px transparent solid;
  border-radius: 5px;
}

.art_img {
  // background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/52/Free_logo.svg);
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(photo-article.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  height: 100px;
}
