.container-article {
  margin: 20px;
}
.card_article {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    overflow: hidden;
    background-color: white;
}
a.article_link {
    display: block;
    padding: 10px;
}
.card_article img {
  height: 275px;
  color: white;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: .3em;
  object-fit: cover;
}
.card_icons {
  display: flex;
  padding: 10px;
  align-items: flex-end;
}
.card_icons img {
  align-items: flex-end;
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.title, .author {
  text-transform: capitalize;
  color: black;
  padding: 10px;
  font-family: $headers-font;
  font-weight: bolder;
  font-size: 1em;
}
.author {
  margin-top: 0;
  font-size: .8em;
  color: $picotee-blue;
}