.card_article {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  // margin-bottom: 20px;
  // overflow: hidden;
  border-radius: 10px;
}
#first_article {
  margin-right: 100px;
  margin-left: 100px;
  font-size: 1.2em;
}
a.article_link {
    display: block;
    padding: 10px;
}
.card_article img {
  height: 275px;
  color: white;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  object-fit: cover;
}
.card_icons {
  display: flex;
  padding: 10px;
  align-items: flex-end;
}
.card_icons img {
  align-items: flex-end;
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.title, .author {
  font-size: 1.3em;
  font-weight: 800;
  color: black;
  padding: 10px 0;
  font-family: $headers-font;
  margin-bottom: 10px;
}
.author {
  text-transform: capitalize;
  margin-top: 0;
  font-size: .9em;
  color: $picotee-blue;
  font-weight: 100;
}
#favorite {
  text-decoration: none;
  color: $picotee_blue;
  font-size: .9em;
  padding-right: 5px;
}

.card_article .card-content {
  padding: 0 20px
}

.article-preview {
  font-size: 14px;
  font-weight: 200;
  color: $gray-600;
  text-align: justify;
}

.card_article .author {
  font-weight: 600;
}

.carousel-articles {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
