.buttons {
	font-size: .7em;
  padding: 7px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-weight: lighter;
  background: #D9FEFF;
  transition: background 0.3s ease;
  border: 1px solid #28288D;
}
