.dashboard-art_img {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  height: 100px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
}
#dashboard-title {
  color: white;
  padding: 10px;
  font-family: $headers-font;
  font-weight: bold;
  font-size: 1.4em;
  padding-left: 10px;
}
.dashboard-art-cards {
  display: flex;
}
