.dashboard-art_img {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  height: 100px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
}
#dashboard-title {
  color: white;
  font-family: $headers-font;
  font-weight: bold;
  font-size: 1.4em;
  padding-left: 10px;
}
.dashboard-art-cards {
  display: flex;
}

.dash-card-article {
  box-shadow: $box-shadow;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: $border-radius;
  height: 436px;
  background-color: white;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.dash-icons {
  justify-content: flex-end;
}
.dash-content {
  background-color: white;
  color: $picotee-blue;
  position: absolute;
  width: 75%;
  padding: 15px 25px;
  text-align: center;
  border-radius: 6px;

    .title {
      font-size: 1.2em;
    }
    p {
      font-size: .8em;
  }
}
#dash-content-sm {
    width: 200px;
}

.see-all a {
  padding: 0;
}
