.article-search-form .form-group {
  margin-bottom: 0;
}

.article-search-form select {
  border: 1px solid #28288D;
}

.article-search-form .buttons {
  border-radius: 2px;
  height: 100%;
  font-weight: 800;
  font-size: 0.8em;
  color: #28288D;
}
