.perso-cards p, h4, h5 {
	color: $picotee_blue;
}
// .row {
// 	margin-top: 3em;
// }
.perso-cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
.art-cards__container {
	display: flex;
	flex-direction: column;
}
.perso-cards {
	padding: 20px;
	// margin: 20px;
	background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	height: 500px;
	max-width: 100%;
  text-align: center;
}

.perso-cards .text {
  text-align: left;
}

.perso-cards img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}
.perso-cards p {
	font-size: .8em;
  text-align: justify;
  font-style: italic;
}
.perso-cards h4 {
	font-size: 1em;
	font-weight: 800;
  margin-bottom: 5px;
}
.perso-cards h5 {
	font-size: .8em;
	font-weight: bold;
	margin-bottom: 20px;
}

.text {
	margin: 20px;
}
