.navbar {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	left: 0px;
	top: 0px;
	z-index: 10;
	font-family: $headers-font;
}
.navbar-logged {
	display: flex;
	flex-direction: column;
	width: 360px;
	margin: 10px 10px 15px 10px;
}
.navbar img {
  width: 40px;
}
.navbar-logged img {
	width: 40px;
}
.navbar-buttons a {
	color: $picotee_blue;

  .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  }
}

.navbar a {
  color: white;
}

.navbar-buttons a {
  text-decoration: none;
    color: white;
    padding: 10px;
    font-size: .8em;
    cursor: pointer;
    text-decoration: underline;
  	}

.navbar-benchmark {
	font-size: .8em;
}
.launch-benchmark {
	color: $picotee-blue;
  background-color: $celeste;
  border-radius: 10px;
  transition: background color 0.2s ease;
		&:hover {
			background-color: $picotee-blue;
			color: white;
      border: solid white 1px;
		}
}
label {
	font-size: .8em;
}
// NAVBAR EXPLORE MENU
.navbar-toggler span {
	font-size: .8em;
	color: white;
}
.explore_icons {
	font-size: 1em;

   }

   .img {
  filter: grayscale(100%);
}

	a {
		text-decoration: none;
		color: white;
    padding: 10px;
		&:hover {
			color: #8AABDD;

    cursor: pointer;
      text-decoration: underline;}
	}

//LOGGED NAVBAR
.logged {
	background-color: $picotee_blue;
}

.text-navbar{
  color: white;
}

