<div class="btn btn-outline-primary py-0 pt-1 btn-sm", style="width: 200px; height:30px;", id="share_button">
  <i class="fas fa-copy"></i> Copy the url of this page
  <input id="copy" name="copy" type="hidden">
</div>
