<!-- <h1>coucou</h1>


<#% @typologies.each do |typology| %>
  <#% typology.companies.each do |company| %>
<div><div class="item_bench"><#%= company.name %></div>
 <div class="item_bench"><#%= typology.title %></div>
 </div>
<#% end %>
<#% end %>

 -->

<%if params[:field_name].nil? || params[:process_name].nil? %>
  <p>Coucou</p>
<% else %>

  <% @field = Field.find_by(name: params[:field_name]) %>
  <% @process_name = params[:process_name] %>
  <% @typologies = policy_scope(Typology).where(process_name: @process_name, field: @field) %>
  <% @companies = Company.where(field: @field) %>

<div class="container p-5">
  <table class="table table-striped text-center">
      <tr>
        <th>
          <div id="bookmark">
            <%= render 'bookmark', typologies: @typologies %>
          </div>
        </th>
        <% @companies.each do |company| %>
          <th><%= company.name %></th>
        <% end %>
      </tr>
      <% @typologies.each do |typology| %>
        <tr>
          <th><%= typology.title %></th>
            <% @companies.each do |company| %>
            <td><%= Indicator.find_by(typology: typology, company: company).content %></td>
          <% end %>
        </tr>
      <% end %>
  </table>
</div>
<% end %>
