<!-- <h1>coucou</h1>


<#% @typologies.each do |typology| %>
  <#% typology.companies.each do |company| %>
<div><div class="item_bench"><#%= company.name %></div>
 <div class="item_bench"><#%= typology.title %></div>
 </div>
<#% end %>
<#% end %>

 -->

<%if params[:field_name].nil? || params[:process_name].nil? %>
  <div class="text-center m-4 p-4">
    <h3>Get started!</h3>
    <h4>Create your first benchmark by filling the two fileds of the form above ☝️</h4>
  </div>
<% else %>

  <% @field = Field.find_by(name: params[:field_name]) %>
  <% @process_name = params[:process_name] %>
  <% @typologies = policy_scope(Typology).where(process_name: @process_name, field: @field) %>
  <% @companies = Company.where(field: @field) %>

  <div id="bookmark">
    <%= render 'bookmark', typologies: @typologies %>
  </div>

  <div class="container p-1">
    <table class="table table-striped text-center align-middle benchmark-table">
        <tr>
          <th class="align-middle"></th>
          <% @companies.each do |company| %>
            <th class="align-middle"><%= company.name %></th>
          <% end %>
        </tr>
        <% @typologies.each do |typology| %>
          <tr>
            <th class="align-middle"><%= typology.title %></th>
              <% @companies.each do |company| %>
              <td class="align-middle"><%= Indicator.find_by(typology: typology, company: company).content %></td>
            <% end %>
          </tr>
        <% end %>
    </table>
  </div>
<% end %>
