<!-- <h1>coucou</h1>


<#% @typologies.each do |typology| %>
  <#% typology.companies.each do |company| %>
<div><div class="item_bench"><#%= company.name %></div>
 <div class="item_bench"><#%= typology.title %></div>
 </div>
<#% end %>
<#% end %>

 -->

<%if params[:field_name].nil? || params[:process_name].nil? %>
<p>Coucou</p>
<% else %>

<% @field = Field.find_by(name: params[:field_name]) %>
<% @process_name = params[:process_name] %>
<% @typologies = policy_scope(Typology).where(process_name: @process_name, field: @field) %>
<% @companies = Company.where(field: @field) %>
<% end %>
<table>
  <tr>
    <th> Typology </th>
    <% @companies.each do |company| %>
      <th><%= company.name %></th>
    <% end %>
  </tr>
   <tr>
    <td></td>
    <% @companies.each do |company| %>
      <td>
     <% company.indicators.each do |indicator| %>
      <p><%= indicator.typology.title %><%= indicator.content %></p>
     <% end %>
     </td>
    <% end %>
</table>
